html, 
body {
	margin: 0;
	padding: 0;
}

body {
	min-width: 1200px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	background-color: #ffffff;
}

.nerds-index-title,
.index-logo[href="index.html"] {
		float: left;
		margin: 0;
		margin-right: 200px;
		padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
	color: #000000;
}


.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 0;
	height: 0;
}
																											/*   MAIN-HEADER   */

.nerds-store .main-header {
	padding-bottom: 103px;
}

.main-header {
	margin-bottom: 80px;
	padding: 48px 0 0;
	color: #283136;
	background-color: #eeeeee;
}

.main-navigation {
	width: 1160px;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;
}

.nerds-store .main-navigation {
	margin-bottom: 76px;
}

.main-navigation::after {
	content: "";
	clear: both;
	display: table;
}

.index-logo[href="index.html"]:hover {
	opacity: 0.8;
}

.index-logo[href="index.html"]:active {
	opacity: 0.3;
}

.index-logo {
	display: block;
}

.navigation-items {
	float: left;
	margin: 0;
	margin-top: 20px;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
}

.navigation-item {
	display: inline-block;
	margin: 0;
	margin-right: 37px;
	padding: 0;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
}

.navigation-item-link {
	display: block;
	min-width: 40px;
	font-family: "Roboto", Arial, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}

.navigation-item-link:not(.link-active):hover {
	color: #fb565a;
}

.navigation-item-link:active {
	opacity: 0.3;
}

.link-active {
	padding-bottom: 3px;
	border-bottom: 2px solid #fb565a;
}
																											/*   USER-NAVIGATION   */

.user-navigation-items {
	float: right;
	margin: 0;
	margin-top: 20px;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
}

.user-navigation-item {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 30px;
}

.user-navigation-item + li /* если будет еще элемент */ {
	margin-left: 37px;
}

.user-navigation-item-link {
	position: relative;
	display: block;
	padding-left: 38px;
	font-family: "Roboto", Arial, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}

.user-navigation-item-link::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 5%;
	width: 15px;
	height: 15px;
	background: url("../img/css_sprites.png") -10px -94px;
	transform: translate(0, -50%);
}

.user-navigation-item-link:hover {
	color: #fb565a;
}

.user-navigation-item-link:active {
	opacity: 0.3;
}

.nerds-store-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 55px;
	line-height: 55px;
	text-align: center;
}

.nerds-store-title + * {
	margin-top: 36px;
}
																											/*   HEADER-SLIDES  */

.header-slides {
	position: relative;
}

.container-content {
	width: 1160px;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;
}

.container-content::after {
	content: "";
	clear: both;
	display: table;
}

input[name="slider-control"] {
	display: none;
}

.slider-controls {
	position: absolute;
	left: 45%;
	bottom: 21%;
	font-size: 0;
	line-height: 0;
}

label[for^="slider-control"] {
	display: inline-block;
	width: 8px; 
	height: 8px;
	margin-right: 17px;
	background-color: #ffffff;
	border: 10px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

label[for^="slider-control"]:nth-child(3) {
	margin-right: 0;
}

.header-slide-items {
	margin: 0;
	padding: 77px 0 82px;
	list-style: none;
}

.slide-item {
	margin: 0;
	padding: 0;
	display: none;
}

.slide-item:nth-child(1) {
	width: 515px;
}

.slide-item:nth-child(2) {
	width: 555px;
}

.slide-item:nth-child(3) {
	width: 515px;
}

#slider-control-1:checked ~ .header-slide-items .slide-item:nth-child(1),
#slider-control-2:checked ~ .header-slide-items .slide-item:nth-child(2),
#slider-control-3:checked ~ .header-slide-items .slide-item:nth-child(3) {
	display: block;
}

#slider-control-1:checked ~ .header-slide-items {
	background: url("../img/slide-1-photo.png") no-repeat 99% 100%;
}

#slider-control-2:checked ~ .header-slide-items {
	background: url("../img/slide-2-photo.png") no-repeat 99% 100%;
}
#slider-control-3:checked ~ .header-slide-items {
	background: url("../img/slide-3-photo.png") no-repeat 99% 100%;
}

#slider-control-1:checked ~ .slider-controls label[for="slider-control-1"],
#slider-control-2:checked ~ .slider-controls label[for="slider-control-2"],
#slider-control-3:checked ~ .slider-controls label[for="slider-control-3"] {
	background-color: #c1c1c1;
}

.slide-item-title {
	margin-top: 0;
	margin-bottom: 29px;
	font-size: 55px;
	line-height: 55px;
}

.slide-item-paragraph {
	max-width: 390px;
	margin-top: 0;
	margin-bottom: 42px;
}
.slide-item-button {
	display: block;
	width: 240px;
	margin-top: 42px;
	padding-top: 13px;
	padding-bottom: 13px;
	font-family: "Roboto", Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #fb565a;
	color: #ffffff;
	border-radius: 2px;
}

.slide-item-button:hover {
	background-color: #e74246;
}

.slide-item-button:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px #c13135;
}

.slide-item-button:active .button-inner {
	opacity: 0.3;
}
																											/*   MAIN   */

main {
	width: 1160px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0 auto 80px;
}

main::after {
	content: "";
	clear: both;
	display: table;
}
																											/*   STORE-FILTER   */

.store-filter {
	float: left;
	width: 260px;
	margin-right: 140px; /* для оформления */
}

.filter-item-title {
	margin-top: 0;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.store-filter-items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.store-filter-item {
	margin: 0;
	margin-bottom: 50px;
	padding: 0
}

.filter-item-slide {
	width: 221px;
	height: 2px;
	margin-bottom: 14px;
	padding: 39px 21px 39px 18px;
	background-color: #eeeeee;
	border-radius: 1px;
}

.filter-range {
	position: absolute;
	z-index: 100;
	width: 4px;
	height: 5px;
	background-color: #ababab;
	box-shadow: 0 2px #cccdcd;
	border: 8px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
	transform: translate(0, -50%);
}

.filter-range:nth-of-type(2) {
	left: 60%;
}

.filter-scale {
	position: relative;
	width: 219px;
	height: 2px;
	background-color: #d7dcde;
}

.filter-scale-filled {
	position: absolute;
	display: inline-block;
	width: 151px;
	height: 2px;
	background-color: #00ca74;
}
																											/*   FILTER-PRICE-ITEMS   */

.filter-price-items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.filter-price-items::after {
	content: "";
	clear: both;
	display: table;
}


.filter-price-item:nth-child(1) {
	float: left;
	margin: 0;
	padding: 0;
}

.filter-price-item:nth-child(2) {
	float: right;
	margin: 0;
	padding: 0;
}

.starting-price,
.final-price {
	width: 48px;
	height: 18px;
	padding: 10px 16px;
	text-align: center;
	background-color: #eeeeee;
	border: none;
	border-radius: 2px;
}

label[for="starting-price"],
label[for="final-price"] {
	text-transform: uppercase;
}
																											/*   SERVICE-ITEMS   */

.service-items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.service-item {
	margin: 0;
	margin-bottom: 16px;
	padding: 0;
}

input[name="makets"],
input[name="features"] {
	display: none;
}

label[for$="maket"],
label[for$="feature"] {
	position: relative;
	padding-left: 37px;
	color: #283136;
	cursor: pointer;
}

label[for$="maket"]:hover,
label[for$="feature"]:hover {
	color: #000000;
}

.radio-point {
	position: absolute;
	top: 20%;
	left: 8px;
	display: none;
	width: 9px;
	height: 9px;
	background-color: #4d4d4d;
	border-radius: 50%;
	opacity: 0.4;
}

.checkbox-mark {
	position: absolute;
	top: -1px;
	left: 0;
	display: none;
	opacity: 0.4;
}

label[for$="maket"]:hover .radio-point,
label[for$="feature"]:hover .checkbox-mark,
label[for$="maket"]:hover::before,
label[for$="feature"]:hover::before {
	opacity: 1;
}


label[for$="maket"]::before {
	content: "";
	position: absolute;
	top: -3px;
	left: 1px;
	width: 15px;
	height: 15px;
	background-color: transparent;
	border: 4px solid #4d4d4d;
	border-radius: 50%;
	opacity: 0.4;
}

label[for$="feature"]::before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0;
	width: 19px;
	height: 19px;
	background-color: transparent;
	border: 2px solid #4d4d4d;
	border-radius: 2px;
	opacity: 0.4;
}

input[name="makets"]:checked + label[for$="maket"] .radio-point,
input[name="features"]:checked + label[for$="feature"] .checkbox-mark {
	display: inline-block;
}

input[name="features"]:checked + label[for$="feature"]::before {
	border: none;
}

input[name="makets"]:disabled + label[for$="maket"]::before,
input[name="features"]:disabled + label[for$="feature"]::before,
input[name="makets"]:disabled + label[for$="maket"] .radio-point,
input[name="features"]:disabled + label[for$="feature"] .checkbox-mark,
input[name="makets"]:disabled + label[for$="maket"],
input[name="features"]:disabled + label[for$="feature"] {
	opacity: 0.2;
}



.filter-form-button {
	width: 260px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #eeeeee;
	border: none;
	border-radius: 1px;
}

.filter-form-button:hover {
	background-color: #dfdfdf;
}

.filter-form-button:active {
	background-color: #d5d5d5;
	margin-left: -1px;
	box-shadow: inset 0 3px #bfbfbf;
}
																											/*   WARENS  */

.warens {
	float: left;
	width: 760px;
}

.warens::after {
	content: "";
	clear: both;
	display: table;
}

.sorting-warens {
	position: relative;
	margin-bottom: 50px;
	padding-right: 100px;
}

.sorting-warens::after {
	content: "";
	clear: both;
	display: table;
}

.sorting-title {
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
}

.sorting-items {
	float: right;
	width: 260px;
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
}

.sorting-toggle:first-of-type {
	position: absolute;
	top: 5px;
	right: 30px;
	width: 0;
	height: 0;
	padding: 0;
	border-top: 10px solid #010101;
	border-left: 5px solid #ffffff;
	border-right: 5px solid #ffffff;
	border-bottom: 0;
}

.sorting-toggle:last-of-type {
	position: absolute;
	top: 5px;
	right: 0;
	width: 0;
	height: 0;
	padding: 0;
	border-top: 0;
	border-left: 5px solid #ffffff;
	border-right: 5px solid #ffffff;
	border-bottom: 10px solid #010101;
}

.sorting-toggle:not(.active-sorting-toggle) {
	cursor: pointer;
}

.sorting-toggle:not(.active-sorting-toggle) {
	opacity: 0.3;
}

.sorting-toggle:not(.active-sorting-toggle):hover {
	opacity: 0.6;
}

.sorting-toggle:not(.active-sorting-toggle):active {
	opacity: 1;
}

.sorting-item {
	display: inline-block;
	margin: 0;
	margin-right: 20px;
	padding: 0;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	opacity: 0.3;
}

.sorting-item:not(.active-sorting-item) {
	cursor: pointer;
}

.sorting-item:not(.active-sorting-item):hover {
	opacity: 0.6;
}

.sorting-item:not(.active-sorting-item):active {
	opacity: 1;
}

.sorting-item:last-child {
	margin-right: 0;
}

.active-sorting-item {
	opacity: 1;
}
																											/*   WAREN-ITEMS  */
.waren-items {
	margin: 0;
	margin-bottom: 60px;
	padding: 0;
	list-style: none;
}

.waren-items::after {
	content: "";
	clear: both;
	display: table;
}

.waren-item {
	position: relative;
	width: 360px;
	height: 580px;
	margin: 0;
	margin-bottom: 43px;
	padding: 0;
	padding-top: 41px;
	background-color: #e9e9e9;
	border-radius: 2px;
}

.waren-item:hover {
	background-color: #4d4d4d;
}

.waren-item:nth-child(odd) {
	float: left;
}

.waren-item:nth-child(even) {
	float: right;
}

.waren-content-item {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.waren-item-description {
	display: none;
}

.waren-item::before {
	content: "•••";
	position: absolute;
	top: 0;
	left: 16px;
	font-size: 50px;
	line-height: 50px;
	letter-spacing: 9px;
	color: #ffffff;
}

.waren-item-description {
	position: absolute;
	bottom: 0;
	display: none;
	box-sizing: border-box;
	width: 360px;
	height: 223px;
	margin-top: 0;
	margin-bottom: 0;
	padding: 31px 60px 15px;
	text-align: center;
	background-color: #eeeeee;
}

.waren-item:hover .waren-item-description {
	display: block;
}

.waren-description-title {
	display: inline-block;
	margin-bottom: 18px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
}

.waren-description-paragraph {
	display: inline-block;
}

.waren-description-paragraph + * {
	margin-top: 18px
}

.waren-description-button {
	display: block;
	width: 200px;
	height: 23px;
	margin: 30px auto 0 auto;
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: inherit;
	line-height: inherit;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #fb565a;
	border-radius: 2px;
}

.waren-description-button:hover {
	background-color: #fb565a;
}

.waren-description-button:hover {
	background-color: #e74246;
}

.waren-description-button:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px #c13135;
}
																											/*   BREADCRUMBS   */
.breadcrumbs {
	float: left;
	height: 50px;
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
	list-style: none;
}

.breadcrumb {
	display: inline-block;
	width: 44px;
	height: 14px;
	margin-right: 11px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: #000000;
	background-color: #eeeeee;
	border: 4px solid #eeeeee;
	border-radius: 2px;
}

.breadcrumb:last-child {
	width: 260px;
	text-transform: uppercase;
}

.breadcrumb:not(.crumb-active):hover {
	background-color: #dfdfdf;
}

.breadcrumb:not(.crumb-active):active {
	background-color: #d5d5d5;
	box-shadow: inset 0 3px #bfbfbf;
}

.crumb-active {
	background-color: transparent;
}

.breadcrumb:last-child {
	margin-right: 0;
}
																											/*   FEATURES   */

.features {
	margin-bottom: 40px;
	padding-bottom: 80px;
	border-bottom: 3px solid #eeeeee;
}

.feature-items {
	margin: 0;
	margin-left: -100px;
	padding: 0;
	list-style: none;
}

.feature-items::after {
	content: "";
	clear: both;
	display: table;
}

.feature-item {
	float: left;
	width: 300px;
	margin: 0;
	margin-left: 100px;
	padding: 0;
}

.feature-item-title {
	margin-top: 24px;
	margin-bottom: 21px;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.button {
	display: block;
	width: 160px;
	margin-top: 33px;
	padding-top: 13px;
	padding-bottom: 13px;
	font: inherit;
	line-height: inherit;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 2px;
}


.feature-first-button {
	background-color: #fb565a;
}

.feature-first-button:hover {
	background-color: #e74246;
}

.feature-first-button:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px #c13135;
}

.feature-second-button {
	background-color: #00ca74;
}

.feature-second-button:hover {
	background-color: #00bc6c;
}

.feature-second-button:active {
	background-color: #00aa62;
	box-shadow: inset 0 3px #009958;
}

.feature-third-button {
	background-color: #efc84a;
}

.feature-third-button:hover {
	background-color: #eab534;
}

.feature-third-button:active {
	background-color: #e5a722;
	box-shadow: inset 0 3px #ce961f;
}

.feature-first-button:active .button-inner,
.feature-second-button:active .button-inner,
.feature-third-button:active .button-inner {
	opacity: 0.3;
}
																											/*   ABOUT-US   */

.content-columns {
	margin-bottom: 46px;
	padding-bottom: 76px;
	border-bottom: 3px solid #eeeeee;
}


.content-columns:after {
	content: "";
	clear: both;
	display: table;
}

.about-us {
	float: left;
	width: 660px;
}

.about-us-title {
	margin-top: 0;
	margin-bottom: 33px;
	font-size: 45px;
	line-height: 45px;
}

.about-us-items-title {
	display: inline-block;
	margin-top: 27px;
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}

.about-us-items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.about-us-item {
	position: relative;
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	padding-left: 37px;
}

.about-us-item::before {
	content: "";
	position: absolute;
	top: 45%;
	left: 0;
	display: inline-block;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	transform: translate(0, 50%);
}

.about-us-item:last-child {
	margin-bottom: 0;
}
																											/*   STATISTICS   */

.statistic {
	float: right;
	width: 360px;
}

.statistic-title {
	display: inline-block;
	margin-top: 46px;
	margin-bottom: 28px;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}

.statistic-items {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
}

.statistic-item {
	display: inline-block;
	width: 100px;
	margin: 0;
	margin-right: 16px;
	padding: 0;
	font-size: 16px;
	line-height: 18px;
	text-align: left;
}

.statistic-number {
	display: inline-block;
	margin-bottom: 12px;
	font-size: 45px;
	line-height: 45px;
	color: #000000;
}

.statistic-description {
	display: inline-block;
	margin-top: 0;
}
																											/*   PARTNERS   */
.partners {
	border-bottom: 3px solid #eeeeee;
}

.partners + * {
	margin-top: 46px
}

.partner-items {
	margin: 0;
	padding: 0;
	padding-bottom: 44px;
	font-size: 0;
	line-height: 0;
	list-style: none;
}

.partner-item {
	display: inline-block;
	min-width: 260px;
	margin: 0;
	margin-right: 40px;
	padding: 0;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	vertical-align: middle;
}

.partner-item:last-child {
	margin-right: 0;
}

.partner-link {
	display: block;
	opacity: 0.2;
}

.partner-link:hover {
	opacity: 1;
}
																											/*   MAIN-FOOTER   */
																											/*   LOCATION   */

.location {
	margin-bottom: 70px;
	padding: 54px 0;
	background: url("../img/map.jpg") no-repeat 50% 50% #e9e5dc;
}

.location::after {
	content: "";
	clear: both;
	display: table;
}

.contacts {
	float: left;
	width: 219px;
	height: 202px;
	padding: 58px 50px 48px;
	text-align: center;
	vertical-align: middle;
	color: #666666;
	background-color: #ffffff;
}

.contacts  {
	text-align: left;
	font-size: 16px;
	line-height: 18px;
}

.contact-title {
	margin-top: 0;
	font-size: 18px;
	line-height: 30px;
	text-align: left;
	text-transform: uppercase;
}

.contact-button {
	display: inline-block;
	width: 219px;
	padding: 17px 0 15px;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #fb565a;
	border-radius: 2px;
}

.contact-button:hover {
	background-color: #e74246;
}

.contact-button:active {
	background-color: #d7373b;
	box-shadow: inset 0 3px #c13135;
}
																											/*   SOCIAL-SHARE   */

.social-share {
	float: left;
	width: 270px;
	margin-right: 140px;
	font-size: 0;
	line-height: 0;
}

.social-button {
	position: relative;
	display: inline-block;
	width: 80px;
	min-height: 80px;
	margin-right: 10px;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	vertical-align: middle;
	background-color: #e1e1e1;
	border-radius: 50%;
}

.social-button:last-of-type {
	margin-right: 0;
}

.social-button:hover {
	background-color: #e74246;
}

.social-button:active {
	background: #d7373b;
	box-shadow: inset 0 3px #c13135;
}

.social-vk::before,
.social-fb::before,
.social-inst::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 26px;
	height: 15px; 
	background: url("../img/css_sprites.png") -51px -53px;
	transform: translate(-50%, -50%);
}

.social-fb::before {
	width: 12px;
	height: 22px;
	background: url("../img/css_sprites.png") -98px -10px;
}

.social-inst::before {
	width: 21px;
	height: 21px;
	background: url("../img/css_sprites.png") -10px -53px;
}

.social-vk:active::before,
.social-fb:active::before,
.social-inst:active::before {
	opacity: 0.3;
}
																											/*   FOOTER-PROMO   */

.footer-promo {
	float: left;
	min-width: 560px;
	margin-top: 0px;
	padding-top: 7px;
}

.promo-title {
	display: inline-block;
	margin-bottom: 15px;
	font-size: 36px;
	line-height: 36px;
}

.footer-promo span {
	display: inline-block;
	margin-bottom: 7px;
}
																											/*   POPUP   */

@keyframes appear-popup {
	from {
		top: -25%;
	}
/* 	50%, 95% {
		transform: translateY(80%);
	}
	95%, 100% {
		transform: translateY(-5%); */
	95% {
		top: 55%;
	}
	100% {
		top: 50%;
	}
}

.popup {
	position: fixed;
	right: 0;
	left: 50%;
	z-index: 9998;
	display: none;
	box-sizing: border-box;
	width: 960px;
	height: 590px;
	padding: 36px 100px 85px;
	background: #ffffff;
	box-shadow: 0 40px 40px 0 rgba(0,0,0,0.75);
	animation-name: appear-popup;
	animation-duration: 0.2s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	transform: translate(-50%, -50%);
}

.nerds-form .popup {
	display: inline-block;
}

.show-popup {
	display: inline-block;
}

.popup-title {
	display: inline-block; /* for popup-button*/
	font-size: 45px;
	line-height: 45px;
}

.user-data-items {
	margin: 0;
	margin-bottom: 19px;
	padding: 0;
	list-style: none;
}

.user-data-items::after {
	content: "";
	clear: both;
	display: table;
}

.user-data-item {
	margin: 0;
	padding: 0;
}

.signature {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 18px;
}

.login-field {
	width: 360px;
	float: left;
	margin-right: 40px;
}

.email-field {
	width: 360px;
	float: left;
}

input[name="login"],
input[name="email"],
textarea[name="text-message"] {
	box-sizing: border-box;
	width: 100%;
	min-height: 50px;
	padding: 14px 14px;
	background-color: #ffffff;
	border: 2px solid #d7dcde;
	border-radius: 2px;
}

input[name="login"]:hover,
input[name="email"]:hover,
textarea[name="text-message"]:hover {
	border: 2px solid #b4b9bb;
}

input[name="login"]:focus,
input[name="email"]:focus,
textarea[name="text-message"]:focus {
	border: 2px solid #000000;
}

textarea[name="text-message"] {
	margin-bottom: 43px;
}

.form-button {
	width: 260px;
	min-height: 50px;
	text-align: center;
	color: #ffffff;
	background-color: #fb565a;
	border: none;
	border-radius: 2px;
}

.popup-inner {
	position: relative;
}

.popup-button {
	position: absolute;
	top: 9%;
	right: 0;
	background-color: transparent;
	border: none;
}

.popup-button-inner {
	position: relative;
	width: 27px;
	height: 27px;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.popup-button-inner::before,
.popup-button-inner::after {
	content: "";
	position: absolute;
	left: -1px;
	display: inline-block;
	width: 27px;
	height: 5px;
	background-color: #fb565a;
}

.popup-button-inner::before {
	transform: rotate(-45deg);
}

.popup-button-inner::after {
	transform: rotate(45deg);
}
